<h3>View Notification
  <span class="float-right">
    <%= link_to("View All Notifications <i class='fi-magnifying-glass'></i>".html_safe, notifications_path, :class => 'tiny button') %>
    <%= link_to("Edit Notification <i class='fi-page-edit'></i>".html_safe, edit_notification_path(@notify.id), :class => 'tiny button') %>
  </span>
</h3>
<div class="details row column">
  <dl class="inline">
    <div class="large-6 columns">
      <dt>Name :</dt>
      <dd><%= @notify.name %></dd>
    </div>
    <div class="large-6 columns">
     <dt>Description :</dt>
     <dd><%= @notify.description %></dd>
    </div>
  </dl>
</div>
