<div class="row">
  <div class="large-6 large-centered column">
    <h4 class="text-center">View Notification</h4>
    <div class="row column">
      <dl class="inline">
        <div class="large-6 columns">
          <dt>Name:</dt>
          <dd><%= @notify.name %></dd>
        </div>
        <div class="large-6 columns">
         <dt>Description:</dt>
         <dd><%= @notify.description %></dd>
        </div>
      </dl>
      <div class="large-12 columns actions">
        <%= link_to("View All Notifications", notifications_path) %> | <%= link_to("Edit Notification", edit_notification_path(@notify.id)) %>
      </div>
    </div>
  </div>
</div>
