<h3>Register Client</h3>
<div class="form-container">
  <%= simple_form_for @client, url: {action: "create"}, :html => {'data-abide' => ' ' }, validate: true do |f| %>
    <%= render 'form' %>
  <% end %>
</div>
