<h3>Edit Phytosanitary Certificate</h3>
<div class="form-container">
  <%= simple_form_for [@order, @phytosanitary], :html => {'data-abide' => ' ' }, validate: true do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
