<h3>Edit Certificate of Origin</h3>
<div class="form-container">
  <%= simple_form_for([@order, @certificate], :html => {'data-abide' => ' ' }, validate: true ) do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
