<h3>Create New Certificate of Origin</h3>
<div class="form-container">
  <%= simple_form_for @certificate, :html => {'data-abide' => ' ' }, validate: true, url: {action: "create"} do |f| %>
    <%= render 'form' %>
  <% end %>
</div>
