<div class="row column">
  <h3>Add New Certificate of Origin <small>on <%= link_to("order # #{@certificate.order.id}", @certificate.order) %></small></h3>
  <div class="form-container">
    <%= render 'form' %>
  </div>
</div>
