
main {
  padding-top: 20px;
}

dl.inline dd {
  display: inline;
  margin: 10;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  min-width: 100px;
  background-color: rgba(220, 220, 220, 0.3);
}


/* Actions Icons
------------------------------------------------------------------------- */
i {
  font-size: 17px;
  padding: 0 3px 0 4px;
  opacity: 0.87;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

i:hover {
  opacity: 1;
}

i.show {
    color: #779bb5;
    /*color: rgba(10,60,150, 0.8);
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

i.edit {
  font-size: 16px;
  color: rgba(255,204,0,1);
  text-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 -0.7px 0 rgba(100,100,100,1);
}

i.delete {
  color: #b51919;
}

i.download {
  color: rgba(10,60,150, 0.8);
}
