<h3>Create New Bill of Lading</h3>
<div class="form-container">
  <%= simple_form_for [@order, @bill_of_lading], :html => {'data-abide' => ' ' }, validate: true, url: {action: "create"} do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
